:root{
    --padding: 10px;
    --radius: 50px;
    --vp-min-height: 700px;

    --l100: #D6D6D6;
    --d100: #1A1A1A;
    --accent: #16A085;
}

*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--d100);
    color: var(--l100);
    font-family: monospace;
}

a{
    color: var(--l100);
    text-decoration: none;
}
li{
    list-style: none;
}
h1, h2{
    font-size: clamp(16px, 4vw, 32px);
}
p{
    font-size: clamp(8px, 2vw, 16px);
}

@media screen and (max-width: 400px) {
    :root{
        --radius: 25px;
    }

    #prayers{
        --header-input-height: 45px !important;
        padding: 25px 0px !important;
    }
}