:root{
    --padding: 10px;
    --radius: 50px;

    --l100: #D6D6D6;
    --d100: #1A1A1A;
    --accent: #16A085;
}

*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--d100);
    color: var(--l100);
    font-family: monospace;
}

a{
    color: var(--l100);
    text-decoration: none;
}
li{
    list-style: none;
}